header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 1000; 
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; 
  }

  li {
    display: inline;
  }

  .active {
    color: #007bff;
    font-weight: bold;
  }

/* .projCard {
 
}

 .projMini {
   
 }
 #projMini {


  
 }
  
 .projRows {
 
}



#bigPic { 
   
}

#bigPic img { */

}
